.red-title {
    margin-top: 7ch;
    background-color: #bd1622ff;
    color: white;
    border-radius: 30px;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 500px; 
}

.red-title h3 {
    margin: 0;
}

.pos-vid-title  h4 {
    margin-top: 3ch;
    color: #bd1622ff;
    font-weight: bold;
}

.big-title {
    text-align: center;
    color: #04273bff;
    font-size: 63px;
    font-weight: bold;
}

.second-title {
    text-align: center;
    color: #04273bff;
}

.spaced-row {
    margin-top: 2ch;
    margin-bottom: 2ch;
}

.vender-background {
    background-repeat: repeat;
    background-image: url("../../images/venderBackground.png");
    width: 102%;
    background-size: initial;
}