.main-nav {
    background-color: #04273bff;
    min-height: 110px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

/* Caso necessário alterar algo nos gradients utilizar um gerador como este https://cssgradient.io/*/

.navbar-button {
    font-weight: bold !important;
    border-radius: 25px !important;
    max-width: 160px;
    background: #00E78D;
    background: -moz-linear-gradient(left, #00E78D 0%, #00f774 50%, #50FF56 100%);
    background: -webkit-linear-gradient(left, #00E78D 0%, #00f774 50%, #50FF56 100%);
    background: linear-gradient(to right, #00E78D 0%, #00f774 50%, #50FF56 100%);
}

.line-nav {
    height: 1px;
    background: #00E78D;
    background: -moz-linear-gradient(left, #00E78D 0%, #00f774 50%, #50FF56 100%);
    background: -webkit-linear-gradient(left, #00E78D 0%, #00f774 50%, #50FF56 100%);
    background: linear-gradient(to right, #00E78D 0%, #00f774 50%, #50FF56 100%);
}